@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--alkali: #B8964A;
	--alkaline: #BFC94C;
	--lanthanoid: #CB688F;
	--aktinoid: #A270A9;
	--t-metal: #A45950;
	--post-metal: #43BFD3;
	--metalloid: #2FB48C;
	--nonmetal: #40B34D;
	--gas: #5472B5;
	--u: #B0B1B2;
}

* {
	margin: 0;
	padding: 0
}

@layer utilities {
	.f {
		@apply flex
	}

	.f-center {
		@apply flex items-center justify-center
	}

	.pointer {
		@apply cursor-pointer
	}

	/* ELEMENTS */

	.alkali {
		@apply border-alkali text-alkali
	}

	.alkaline {
		@apply border-alkaline text-alkaline
	}
	
	.nonmetal {
		@apply border-nonmetal text-nonmetal
	}
}

.app {
	max-width: 1920px;
	margin: 0 auto;
	background: #101318;
	height: 100vh;
}

.alkali-text-shadow {
	text-shadow: 0 0 10px #B8964A
}

.alkaline-text-shadow {
	text-shadow: 0 0 10px #BFC94C
}

.nonmetal-text-shadow {
	text-shadow: 0 0 10px #40B34D
}

.element {
	transition: all .15s;
}

.element:hover {
	width: 150px;
	height: 150px;
	z-index: 10;
	transform: translate(-18px, -18px)
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-thumb {
	background: #B8964A
}
