@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0
}

@layer utilities {
	.f {
		@apply flex
	}

	.f-center {
		@apply flex items-center justify-center
	}

	.pointer {
		@apply cursor-pointer
	}

	/* ELEMENTS */

	.aktinoid {
		@apply border-aktinoid text-aktinoid
	}
	
	.alkali {
		@apply border-alkali text-alkali
	}

	.alkaline {
		@apply border-alkaline text-alkaline
	}

	.noble-gas {
		@apply border-noble-gas text-noble-gas
	}
	
	.lanthanoid {
		@apply border-lanthanoid text-lanthanoid
	}

	.metalloid {
		@apply border-metalloid text-metalloid
	}
	
	.nonmetal {
		@apply border-nonmetal text-nonmetal
	}

	.post-metal {
		@apply border-post-metal text-post-metal
	}

	.transition-metal {
		@apply border-transition-metal text-transition-metal
	}

	.unknown {
		@apply border-unknown text-unknown
	}

	.w {
		@apply w-full
	}
}

.app {
	max-width: 1920px;
	margin: 0 auto;
	background: #101318;
	height: 100vh;
}

.aktinoid-text-shadow {
	text-shadow: 0 0 10px #A270A9
}

.alkali-text-shadow {
	text-shadow: 0 0 10px #B8964A
}

.alkaline-text-shadow {
	text-shadow: 0 0 10px #BFC94C
}

.noble-gas-text-shadow {
	text-shadow: 0 0 10px #5472B5
}

.lanthanoid-text-shadow {
	text-shadow: 0 0 10px #CB688F
}

.metalloid-text-shadow {
	text-shadow: 0 0 10px #40B34D
}

.nonmetal-text-shadow {
	text-shadow: 0 0 10px #40B34D
}

.transition-metal-text-shadow {
	text-shadow: 0 0 10px #A45950
}

.post-metal-text-shadow {
	text-shadow: 0 0 10px #A45950
}

.unknown-text-shadow {
	text-shadow: 0 0 10px #B0B1B2
}

.element:hover {
	width: 120px;
	height: 120px;
	z-index: 10;
	transition: all .15s;
	transform: translate(-10px, -10px)
}

::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-thumb {
	background: #B8964A
}

.rotate-circle {
	animation: rotate 1s infinite normal
}

.rotate-circle-reverse {
	animation: rotate 1s infinite reverse
}

@keyframes rotate {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}
